div.page {
    position: absolute; 
    width: 100%;  
    height: 100%; 
    text-align: center;
}
 /* div.checkBoxy {
    position: relative;
    margin: 0 auto;
    padding: 5px 0px 5px 0px;
    width: 500px;
    height: 300px;
    border: 10px solid green; 
 }  */

span {
    display: inline-block;
    cursor: pointer;
    width: 300px;
    height:300px;
    overflow: hidden;
}

div.mochaBox {
    position: relative;
    bottom: 0;
}